:root {
  --large-font: 2rem;
  --page-width: 80%;
}

@media screen and (max-width: 500px) {
  :root {
    --large-font: 1.2rem;
    --page-width: 96%;
  }
}

* {
  font-family: 'Ubuntu', sans-serif;
  color: #f5f5f5;
}

body, p {
  margin: 0;
}

h1, h2 {
  font-weight: normal;
  text-align: center;
}

body {
  background-color: #212121;
}

.flexRow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem auto;
}

.header, .subHeader, .tabBar {
  background-color: #212121;
}

.header {
  font-size: 4rem;
  font-style: italic;
  font-weight: 800;
  padding: 2rem 0 1rem 0;
  letter-spacing: 3px;
}

.subHeader {
  font-size: 2rem;
  font-family: 'Montserrat', 'Ubuntu', sans-serif;
  padding: 0 0 1rem 0;
}

.tabBar {
  display: flex;
  padding: 1rem 1rem 0 1rem;
  gap: 1.5rem;
}

.tabButton {
  flex-shrink: 1;
  font-size: var(--large-font);
  font-weight: 800;
  padding: .5rem 1rem 0 1rem;
}

.tabButton:hover:not(.tabCurrent) {
  cursor: pointer;
  transform: scale(1.1);
}

.tabCurrent {
  border-style: solid;
  border-color: #f5f5f5;
  border-radius: 12px 12px 0 0;
  border-bottom: none;
}

#pageHolder {
  margin: 0;
}

.pageHeader {
  margin: 2rem;
  font-size: 2rem;
  text-align: center;
}

#homePage, #aboutPage, #menuPage {
  margin: 0;
  height: 900px;
  width: var(--page-width);
  background-repeat: no-repeat;
  border-radius: 30px;
  background-position: top;
  background-size: cover;
  padding: 2rem 0;
}

#homePage {
  background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,.3)),url(./pics/knife.jpg);
}

#aboutPage {
  background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.1)),url(./pics/matt.JPG);
}

ul {
  font-size: 1.5rem;
}
li {
  margin: .8rem 0;
}

#menuPage {
  background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.5)),url(./pics/spices.jpg);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.menuItem p {
  padding: 8px;
  background-image: linear-gradient(rgba(33,33,33,1),rgba(33,33,33,.8));
  border-radius: 10px;
}

#menuMac, #menuEnchilada, #menuCheesecake {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 0 24px 12px black;
}

#menuMac {
  background-image: url(./pics/mac.jpg);
}

#menuEnchilada {
  background-image: url(./pics/enchilada.jpg);
}

#menuCheesecake {
  background-image: url(./pics/cheesecake.jpg);
}


.footer {
  gap: 1rem;
  padding: 1rem;
}

@keyframes rotation {
  from {
    transform: rotate(0) scale(1);
  }
  
  to {
    transform: rotate(720deg) scale(1.2);
  }
}

#gitLogo {
  height: 2rem;
  width: 2rem;
  filter: invert(100%);
}

#gitLogo:hover {
  animation: rotation .8s;
  animation-fill-mode: forwards;
}
