::root {
  --large-font: 2rem;
}

* {
  font-family: 'Ubuntu', sans-serif;
  color: #f5f5f5;
}

body, p {
  margin: 0;
}

h1, h2 {
  font-weight: normal;
  text-align: center;
}

body {
  background-color: #212121;
}

.flexRow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem auto;
}

.header, .subHeader, .tabBar {
  background-color: #212121;
}

.header {
  font-size: 4rem;
  font-style: italic;
  font-weight: 800;
  padding: 2rem 0 1rem 0;
  letter-spacing: 3px;
}

.subHeader {
  font-size: 2rem;
  font-family: 'Montserrat', 'Ubuntu', sans-serif;
  padding: 0 0 1rem 0;
}

.tabBar {
  display: flex;
  padding: 1rem 1rem 0 1rem;
  gap: 2rem;
}

.tabButton {
  flex-shrink: 1;
  font-size: var(--large-font);
  font-weight: 800;
  padding: .5rem 1rem 0 1rem;
}

.tabButton:hover:not(.tabCurrent) {
  cursor: pointer;
  transform: scale(1.1);
}

.tabCurrent {
  border-style: solid;
  border-color: #f5f5f5;
  border-radius: 12px 12px 0 0;
  border-bottom: none;
}

#pageHolder {
  margin: 0;
}

.pageHeader {

}

#homePage, #aboutPage, #menuPage {
  margin: 0;
  height: 650px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#homePage {
  background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,.3)),url(./pics/knife.jpg);
}

ul {
  font-size: 1.5rem;
}


.footer {
  gap: 1rem;
}

#gitLogo {
  height: 2rem;
  width: 2rem;
  filter: invert(100%);
}
