* {
  font-family: 'Ubuntu', sans-serif;
}

body, p {
  margin: 0;
}

.flexRow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.flexColumn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header, .subHeader, .tabBar {
  background-color: #212121;
}

.header, .subHeader, .tabButton {
  color: #f5f5f5;
}

.header {
  font-size: 3rem;
  font-style: italic;
  font-weight: 800;
  padding: 2rem 0 1rem 0;
  letter-spacing: 3px;
}

.subHeader {
  font-size: 1.5rem;
  padding: 0 0 1rem 0;
}

.tabBar {
  padding: 1rem 1rem 0 1rem;
  gap: 2rem;
}

.tabButton {
  font-size: 2rem;
  font-weight: 800;
  padding: .5rem 1rem 0 1rem;
}

.tabButton:hover:not(.tabCurrent) {
  cursor: pointer;
  transform: scale(1.1);
}

.tabCurrent {
  border-style: solid;
  border-color: #f5f5f5;
  border-radius: 12px 12px 0 0;
  border-bottom: none;
}


.footer {
  gap: 1rem;
}

#gitLogo {
  height: 2rem;
  width: 2rem;
}
